@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #d0b9df26;
}
main {
  padding-top: 7.5vh;
  @media (min-width: 1024px) {
    padding-top: 6vh;
  }
}
header {
  position: absolute;
  z-index: 99;
}
