.animate-fade-up {
  -webkit-animation: fade-up 0.5s cubic-bezier(0.42, 0.11, 0.43, 1.73) forwards;
  animation: fade-up 0.5s cubic-bezier(0.42, 0.11, 0.43, 1.73) forwards;
}

.delay-0 {
  animation-delay: 0ms;
}
.delay-1 {
  animation-delay: 25ms;
}
.delay-2 {
  animation-delay: 50ms;
}
.delay-3 {
  animation-delay: 75ms;
}
.delay-4 {
  animation-delay: 100ms;
}
.delay-5 {
  animation-delay: 125ms;
}
.delay-6 {
  animation-delay: 150ms;
}
.delay-7 {
  animation-delay: 175ms;
}
.delay-8 {
  animation-delay: 200ms;
}
.delay-9 {
  animation-delay: 225ms;
}
.delay-10 {
  animation-delay: 250ms;
}
.delay-11 {
  animation-delay: 275ms;
}
.delay-12 {
  animation-delay: 300ms;
}
.delay-13 {
  animation-delay: 325ms;
}
.delay-14 {
  animation-delay: 350ms;
}
.delay-15 {
  animation-delay: 375ms;
}
.delay-16 {
  animation-delay: 400ms;
}
.delay-17 {
  animation-delay: 425ms;
}
.delay-18 {
  animation-delay: 450ms;
}
.delay-19 {
  animation-delay: 475ms;
}
.delay-20 {
  animation-delay: 500ms;
}
.delay-21 {
  animation-delay: 525ms;
}
.delay-22 {
  animation-delay: 550ms;
}
.delay-23 {
  animation-delay: 575ms;
}
.delay-24 {
  animation-delay: 600ms;
}
.delay-25 {
  animation-delay: 625ms;
}
.delay-26 {
  animation-delay: 650ms;
}
.delay-27 {
  animation-delay: 675ms;
}
.delay-28 {
  animation-delay: 700ms;
}
.delay-29 {
  animation-delay: 725ms;
}
.delay-30 {
  animation-delay: 750ms;
}
.delay-31 {
  animation-delay: 800ms;
}
.delay-32 {
  animation-delay: 850ms;
}
.delay-33 {
  animation-delay: 900ms;
}
.delay-34 {
  animation-delay: 950ms;
}
.delay-35 {
  animation-delay: 1000ms;
}
.delay-36 {
  animation-delay: 1050ms;
}
.delay-37 {
  animation-delay: 1100ms;
}
.delay-38 {
  animation-delay: 1150ms;
}
.delay-39 {
  animation-delay: 1200ms;
}
.delay-40 {
  animation-delay: 1250ms;
}
.delay-41 {
  animation-delay: 1300ms;
}
.delay-42 {
  animation-delay: 1350ms;
}
.delay-43 {
  animation-delay: 1400ms;
}
.delay-44 {
  animation-delay: 1450ms;
}
.delay-45 {
  animation-delay: 1500ms;
}
.delay-46 {
  animation-delay: 1550ms;
}
.delay-47 {
  animation-delay: 1600ms;
}
.delay-48 {
  animation-delay: 1650ms;
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
